<h2 id="title">Welcome to Ember</h2>

<div style="width:200px">
  {{advanced-form/integer min="5" value="10" max="20"}}
  {{advanced-form/time value="10:58:55" toUpdate="ss"}}
  {{advanced-form/select list=model.countries mapLabel="name" mapID="ID" model=model.user modelProperty="country"}}
</div>

{{outlet}}
